[Unit]
Description=fprobe for {{ item.eth }}
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/fprobe -l 1:0 -i {{ item.eth }} -f'{{ item.filter }}' {{ nf_collector_addr }}
Restart=on-abort

[Install]
WantedBy=default.target
