[Unit]
Description=netflow capture daemon
After=network.target auditd.service

[Service]
Type=forking
ExecStart=/usr/bin/nfcapd -D -l {{ nf_collector.storedir }}/nfcapd -P {{ nf_collector.storedir }}/nfcapd.pid -p {{ nf_collector.port }}
PIDFile={{ nf_collector.storedir }}/nfcapd.pid
KillMode=process
Restart=always
RestartSec=10
User={{ nf_collector.user }}
Group={{ nf_collector.group }}

[Install]
WantedBy=multi-user.target
Alias=nfdump.service
